<p><div class="comment">
<i><b><%= comment.author %></b>:</i>

  <%= comment.body %>
</div>

<%= link_to "Usuń", [@fortune, comment], :confirm => "Czy na pewno?", :method => :delete %>
<%= link_to 'Edytuj', edit_fortune_comment_path(@fortune, comment) %>

</p>
